In [42]:
import pandas as pd
import requests
import functions

In [47]:
def get_data(route, start, end):
    
    headers = {'Authorization': 'Bearer CZQY7GXLYM4JRPEWO4SYGLCRFG5BXD5K'}
    start_date = start
    end_date = end
    url = 'https://api.ouraring.com/v2/usercollection/'
    
    
    if route == 'heart':
        
        sufix = 'T00:00:00-00:00'
        params={'start_datetime': start_date+sufix, 'end_datetime': end_date+sufix}
        
    else:
        params={'start_date': start_date, 'end_date': end_date}
    
    response = requests.request('GET', url+route, headers=headers, params=params) 
    df = pd.DataFrame(response.json()['data'])
    
    return df

In [48]:
start = '2023-07-20'
end = '2023-11-23'

get_data('daily_activity', start, end).to_csv('./data/daily_activity.csv', index=False)
get_data('daily_sleep', start, end).to_csv('./data/daily_sleep.csv', index=False)
get_data('daily_readiness', start, end).to_csv('./data/daily_readiness.csv', index=False)
get_data('daily_spo2', start, end).to_csv('./data/daily_spo2.csv', index=False)
get_data('sleep', start, end).to_csv('./data/sleep.csv', index=False)
get_data('sleep_time', start, end).to_csv('./data/sleep_time.csv', index=False)

In [60]:
start = '2023-07-20'
end = '2023-08-19'

#get_data('heartrate', start, end)
_,heart = functions.data_request(start, end)
heart1 = pd.DataFrame(heart.json()['data'])
heart1

      bpm source                  timestamp
0      56  awake  2023-07-21T10:44:01+00:00
1      64  awake  2023-07-21T10:44:03+00:00
2      55  awake  2023-07-21T10:44:05+00:00
3      64  awake  2023-07-21T10:54:34+00:00
4      60  awake  2023-07-21T10:54:41+00:00
...   ...    ...                        ...
7232   93  awake  2023-08-19T20:49:32+00:00
7233   98  awake  2023-08-19T20:49:33+00:00
7234  100  awake  2023-08-19T20:56:11+00:00
7235   94  awake  2023-08-19T20:56:12+00:00
7236   98  awake  2023-08-19T20:56:14+00:00

[7237 rows x 3 columns]

In [62]:
start = '2023-08-20'
end = '2023-09-19'

#get_data('heartrate', start, end)
_,heart = functions.data_request(start, end)
heart2 = pd.DataFrame(heart.json()['data'])
heart2

      bpm source                  timestamp
0      85  awake  2023-08-19T21:00:58+00:00
1      80  awake  2023-08-19T21:01:11+00:00
2      82  awake  2023-08-19T21:01:13+00:00
3     101  awake  2023-08-19T21:06:59+00:00
4      96  awake  2023-08-19T21:07:05+00:00
...   ...    ...                        ...
7937   53  awake  2023-09-19T20:51:28+00:00
7938   51  awake  2023-09-19T20:52:14+00:00
7939   56  awake  2023-09-19T20:56:28+00:00
7940   54  awake  2023-09-19T20:56:52+00:00
7941   53  awake  2023-09-19T20:57:15+00:00

[7942 rows x 3 columns]

In [63]:
start = '2023-09-20'
end = '2023-10-20'

_,heart = functions.data_request(start, end)
heart3 = pd.DataFrame(heart.json()['data'])
heart3

      bpm source                  timestamp
0      51  awake  2023-09-19T21:01:44+00:00
1      56  awake  2023-09-19T21:02:26+00:00
2      64  awake  2023-09-19T21:02:43+00:00
3      60  awake  2023-09-19T21:06:39+00:00
4      53  awake  2023-09-19T21:07:16+00:00
...   ...    ...                        ...
8961   88  awake  2023-10-12T01:42:22+00:00
8962   94  awake  2023-10-12T01:42:23+00:00
8963   71  awake  2023-10-12T01:44:55+00:00
8964   79  awake  2023-10-12T01:45:07+00:00
8965   92  awake  2023-10-12T01:45:39+00:00

[8966 rows x 3 columns]

In [66]:
start = '2023-10-21'
end = '2023-11-20'

_,heart = functions.data_request(start, end)
heart4 = pd.DataFrame(heart.json()['data'])
heart4

      bpm source                  timestamp
0      50  awake  2023-10-20T21:29:56+00:00
1      52  awake  2023-10-20T21:29:59+00:00
2      48  awake  2023-10-20T21:30:02+00:00
3      68  awake  2023-10-20T21:37:27+00:00
4      48  awake  2023-10-20T21:38:06+00:00
...   ...    ...                        ...
8830   85  awake  2023-11-09T12:06:14+00:00
8831   79  awake  2023-11-09T12:06:16+00:00
8832  116  awake  2023-11-09T12:46:27+00:00
8833  114  awake  2023-11-09T12:46:33+00:00
8834   96  awake  2023-11-09T12:46:51+00:00

[8835 rows x 3 columns]

In [67]:
start = '2023-11-21'
end = '2023-12-20'

_,heart = functions.data_request(start, end)
heart5 = pd.DataFrame(heart.json()['data'])
heart5

     bpm source                  timestamp
0     73  awake  2023-11-20T21:09:47+00:00
1     71  awake  2023-11-20T21:09:48+00:00
2     68  awake  2023-11-20T21:09:51+00:00
3     85  awake  2023-11-20T21:26:20+00:00
4     87  awake  2023-11-20T21:26:21+00:00
..   ...    ...                        ...
603   90   live  2023-11-22T11:43:05+00:00
604   85   live  2023-11-22T11:56:10+00:00
605   75  awake  2023-11-22T12:06:05+00:00
606   80  awake  2023-11-22T12:06:19+00:00
607   82  awake  2023-11-22T12:06:27+00:00

[608 rows x 3 columns]

In [74]:
starts = ['2023-07-20', '2023-08-20', '2023-09-20', '2023-10-21', '2023-11-21']
ends = ['2023-08-19', '2023-09-19', '2023-10-20', '2023-11-20', '2023-12-20']
df_heart = pd.DataFrame()

for i in range(len(starts)):
    
    _,heart = functions.data_request(starts[i], ends[i])   
    df_heart = pd.concat([df_heart, pd.DataFrame(heart.json()['data'])])

In [78]:
df_heart.to_csv('./data/heartrate.csv', index=False)